<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<header th:replace="fragments :: header"></header>
<nav th:replace="fragments :: navigation"></nav>
    <div class="container body-content">
    <br>
        <div class="div-inline">
            <h4 th:text="${title}"></h4>
            <span th:text="${subtitle}" class="text-primary"></span>
            <span class="text-primary">:</span>
            <span th:text="${company}" class="text-primary"></span>
        </div>
        <br />

        <form th:action="@{/contacts/edit/{contactId}(contactId=${contactId})}" th:object="${contact}"
              method="POST" class="row g-3">
            <div class="col-md-6">
                <label class="form-label">First Name</label>
                <input class="form-control" type="text" th:name="firstName" th:value="${contact.firstName}"/>
            </div>
            <div class="col-md-6">
                <label class="form-label">Last Name</label>
                <input class="form-control" type="text" th:name="lastName" th:value="${contact.lastName}"/>
            </div>
            <div class="col-md-12">
                <label class="form-label">Job Title</label>
                <input class="form-control" type="text" th:name="jobTitle" th:value="${contact.jobTitle}" />
            </div>
            <div class="col-md-6">
                <label class="form-label">Phone Number</label>
                <input class="form-control" type="text" th:name="phoneNumber" th:value="${contact.phoneNumber}" />
            </div>
            <div class="col-md-6">
                <label class="form-label">E-Mail</label>
                <input class="form-control" type="email" th:name="email" th:value="${contact.email}" />
            </div>

            <div class="col-md-12">
                <label class="form-label">Notes</label>
                <textarea class="form-control" th:name="notes" rows="4" th:value="${contact.notes}">
                    </textarea>
            </div>

            <div class="col-12" hidden>
                <label class="form-label">User</label>
                <input class="form-control" type="text" th:value="${username}" th:name="username" readonly>
            </div>

            <br />

            <div class="col-md-3" style="margin-bottom: 5px;">
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </form>

        <div class="col-md-3">
            <button class="btn btn-dark" style="margin-bottom: 5px;">
                <a th:href="@{/jobs/{id}(id=${id})}" class="nav-link-color nav-link-no-underline">
                    Cancel Changes</a>
            </button>
        </div>

        <form th:action="@{/contacts/delete/{contactId}(contactId=${contactId})}"
              style="margin-bottom: 5px;" method="POST" class="col-md-3">
            <input type="submit" value="Delete Contact" class="btn btn-danger" />
        </form>


    </div>

</body>
</html>